.carousel-wrapper {
  background-color: white;
  padding: 0;
  margin-bottom: 0;
  margin-top: -1px;
  font-size: $base-font-size;
  @media screen and (max-width: $screen-md-min) {
    font-size: 10px;
  }
  @media screen and (max-width: $screen-sm-min) {
    font-size: 8px;
  }
  .carousel-caption {
    font-family: 'Fira Sans', sans-serif;
    color: black;
    text-shadow: none;
    width: 100%;
    left: 6%;
    right: 6%;
    max-width: 88%;
    top: 26%;
    bottom: auto;
  }
  .heading {
    margin-top: 0;
    font-size: 3.2em;
    @media screen and (max-width: $screen-md-min) {
      font-size: 18px;
    }
  }
  .sub-heading {
    font-size: 1.3em;
    display: inline-block;
    max-width: 750px;
    letter-spacing: -1px;
    font-weight: 400;
  }
  .first-slide {
    background: url("../img/slider/slide-1-hires.jpg") no-repeat center;
    background-size: 100%;
    @media screen and (max-width: $screen-md-min) {
      background: url("../img/slider/slide-1-lowres.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .second-slide {
    background: url("../img/slider/slide-2-hires.jpg") no-repeat center;
    background-size: 100%;
    @media screen and (max-width: $screen-md-min) {
      background: url("../img/slider/slide-2-lowres.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .third-slide {
    background: url("../img/slider/slide-3-hires.jpg") no-repeat center;
    background-size: 100%;
    @media screen and (max-width: $screen-md-min) {
      background: url("../img/slider/slide-3-lowres.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .four-slide {
    background: url("../img/slider/slide-4-hires.jpg") no-repeat center;
    background-size: 100%;
    @media screen and (max-width: $screen-md-min) {
      background: url("../img/slider/slide-4-lowres.jpg") no-repeat center;
      background-size: cover;
    }
  }
  .spacer {
    padding-top: 35.94%;
  }

}

//CAROUSEL EFFECT
.carousel-fade {
  .carousel-inner {
    .item {
      transition-property: opacity;
    }

    .item,
    .active.left,
    .active.right {
      opacity: 0;
    }

    .active,
    .next.left,
    .prev.right {
      opacity: 1;
    }

    .next,
    .prev,
    .active.left,
    .active.right {
      left: 0;
      transform: translate3d(0, 0, 0);
    }
  }
  .carousel-control {
    z-index: 2;
  }
}
