.footer-body {
  background: url("../img/footer-bg-hires.jpg") center bottom no-repeat;
  @media screen and (max-width: $screen-sm-min) {
    background: url("../img/footer-bg-lowres.jpg") center bottom no-repeat;
    background-size: cover;
  }
  height: 27.8em;

  .bottom-bar {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #171b24;
    color: white;
    height: 5.2em;
  }
  .calendar-footer, .search-footer, .contacts-footer{
    max-width: 270px;
    margin: 0 auto;
    @media screen and (max-width: $container-desktop) {
      padding-top: 1em;
    }
  }
  .contacts-footer {
    max-width: 90%;
    margin: 0 auto;
  }
  .bottom-contacts {
    padding-left: 3em;
  }
  .bottom-social{
    font-weight: 500;
    padding: 0 0 1.3em;
    color: #151515;
    font-size: 1.1em;
    &::before{
      left: -2em;
      top: .1em;
    }
  }
  .heading{
    margin-left: 1em;
    position: relative;
    font-weight: 700;
    font-size: 1.2em;
    padding-left: 4em;
    margin-bottom: 2.5em;
    &::before{
      content: '';
      position: absolute;
      width: 54px;
      height: 54px;
      top: -.8em;
      left: -1em;
      border-radius: 100%;
    }
    &.search-heading{
      &::before{
        background: $calendar-table-bg url("../img/icons/search-icon.png") center no-repeat;
      }
    }
    &.contact-heading{
      &::before{
        background: $calendar-table-bg url("../img/icons/mail-icon.png") center no-repeat;
      }
    }
    &.calendar-heading{
      &::before{
        background: $calendar-table-bg url("../img/icons/calendar-icon.png") center no-repeat;
      }
    }
    @media screen and (max-width: $container-desktop) {
      display: none;
    }
  }
}