.footer-body{
  background: url("../img/footer-bg-hires.jpg") center bottom no-repeat;
  @media screen and (max-width: $screen-sm-min){
    background: url("../img/footer-bg-lowres.jpg") center bottom no-repeat;
    background-size: cover;
  }
  //margin-bottom: 100px;
  height: 27.8em;
  //position: relative;
}
.bottom-bar{
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: #171b24;
  color: white;
  height: 5.2em;
}