@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic,latin);

//font-family: 'Fira Sans', sans-serif;
/* Sticky footer styles
-------------------------------------------------- */

$button-blue: #53b3cd;
$button-blue-hover: darken($button-blue, 5%);
$blue-brand: #448ccb;
$white: #ffffff;
$holiday-color: #ff7979;
$week-days-color: #46b7c7;
$calendar-table-bg: #415b6f;
$calendar-table-color: #7b8a97;
$month-area-bg: $brand-primary; //#029ec8
$color_egg_white_approx: #fff0c3;
$color_steel_blue_approx: #53b3cd;
$color_california_approx: #ff9b08;
$color_mountain_mist_approx: #999999;

//STICKY FOOTER
$footer-height: 33em;
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
  @media screen and (max-width: $screen-desktop) {
    font-size: 12px;
  }
  @media screen and (max-width: $screen-tablet) {
    font-size: 10px;
  }
  @media screen and (max-width: $screen-phone) {
    font-size: 9px;
  }

}



input, a, button, textarea, .btn {
  &:focus,
  &:active {
    outline: none;
  }
}

input, textarea, button, .btn, .form-control {
  &:focus,
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
}


.relative {
  position: relative;
}

//TYPES
.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}
.color-black {
  color: black;
}

.blue-brand {
  color: $blue-brand;
}

.button-brand-blue {
  background-color: $button-blue;
  &:hover {
    background-color: $button-blue-hover;
  }
}

//UL MENU
.list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
  }
}
.list-no-padding{
  padding-left: 0;
}
.list-blue-dot{
  list-style: none;
  li::before{
    content: "";
    line-height: 1em;
    width: .5em;
    height: .5em;
    background-color: $blue-brand;
    float: left;
    margin: .35em 0.35em 0;
    border-radius: 50%;
  }
}

// RESPONSIVE MEDIA-BLOCK SPACER
.spacer {
  font-size: 0;
  height: 0;
}

//TOP SOCIAL ICONS
.top-social {
  background-image: url('../img/icons/social-top.png');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  display: block;
  &.sprite-fb {
    background-position: -47px -5px;
    &:hover {
      background-position: -5px -5px;
    }
  }
  &.sprite-in {
    background-position: -47px -46px;
    &:hover {
      background-position: -5px -46px;
    }
  }
  &.sprite-tw {
    background-position: -89px -46px;
    &:hover {
      background-position: -89px -5px;
    }
  }
}

//BOTTOM SOCIAL ICONS
.bottom-social {
  position: relative;
  &::before {
    content: "";
    background-image: url("../img/icons/contact-bottom.png");
    width: 16px;
    height: 16px;
    position: absolute;
    top: 0;
  }
  &.blue::before {
    background-image: url("../img/icons/contact-blue.png");
  }
  &.icon-address {
    &::before {
      background-position: 0 0;
    }
  }
  &.icon-fax {
    &::before {
      background-position: 0 -26px;
    }
  }
  &.icon-mail {
    &::before {
      background-position: 0 -48px;
    }
  }
  &.icon-phone {
    &::before {
      background-position: 0 -73px;
    }
  }
  &.icon-site {
    &::before {
      background-position: 0 -26px;
    }
  }
}

//UNDERLINE HEADING
.under-line-icon {
  &:after {
    content: url("../img/icons/heading-icon.png");
    display: block;
    margin-top: 4px;
  }
}

//BTN
.btn-lg {
  font-size: 1em;
  width: 100%;
  max-width: 240px;
}

//BREADCRUMB
.breadcrumb {
  position: absolute;
  right: 0;
  margin: 0;
  top: 1em;
  background-color: transparent;
  small{
    font-size: 80%;
  }
  .home{
    color: #c2c2c2;
  }
  li::before{
    display: none;
  }
}

//DEFAULT PAGE
.default-page{
  main{
    article:nth-of-type(1){
      margin-top: 1em;
    }
  }
}
