@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700&subset=cyrillic,latin);

//font-family: 'Fira Sans', sans-serif;
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 5.3em;
  @media screen and (max-width: $screen-sm-min) {
    font-size: 10px;
  }

}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5.3em;
  background-color: #f5f5f5;
}

input, a, button, textarea, .btn {
  &:focus,
  &:active {
    outline: none;
  }
}

.relative {
  position: relative;
}

//FONT WEIGHT
.light {
  font-weight: 300 !important;
}

.bold {
  font-weight: 700 !important;
}

//UL MENU
.list {
  padding-left: 0;
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
  }
}

// RESPONSIVE BLOCK SPACER
.spacer {
  font-size: 0;
  height: 0;
}
//TOP SOCIAL ICONS
.top-social {
  background-image: url('../img/icons/social-top.png');
  background-repeat: no-repeat;
  width: 33px;
  height: 33px;
  display: block;
  &.sprite-fb {
    background-position: -47px -5px;
    &:hover {
      background-position: -5px -5px;
    }
  }
  &.sprite-in {
    background-position: -47px -46px;
    &:hover {
      background-position: -5px -46px;
    }
  }
  &.sprite-tw {
    background-position: -89px -46px;
    &:hover {
      background-position: -89px -5px;
    }
  }
}

