//HEADER
.header {
  //navbar
  .navbar {
    margin-bottom: 0;
    @media screen and (max-width: $screen-lg-min) {
      font-size: 12px;
    }
  }
  .navbar-default {
    @media screen and (min-width: $screen-sm-min) {
      width: 85%;
      float: right;
    }
  }
  .icon-bar {
    background-color: $gray-light;
  }
  .navbar-toggle {
    -webkit-box-shadow: 0 0 0 1px $gray-lighter;
    -moz-box-shadow: 0 0 0 1px $gray-lighter;
    box-shadow: 0 0 0 1px $gray-lighter;
  }
  .navbar-nav li a, .dropdown-menu li a {
    font-weight: 700;
  }
  .dropdown-menu {
    @media screen and (min-width: $screen-sm-min) {
      min-width: 210px;
    }
    @media screen and (max-width: $screen-sm-min) {
      font-size: 12px;
    }
  }
  .dropdown-menu li a {
    padding-top: .8em;
    padding-bottom: .5em;
    font-size: 1em;

  }
  li:nth-last-child(1) {
    a {
      padding-right: 10px
    }
  }
  li {
    a {
      @media screen and (max-width: $screen-md-min) and (min-width: $screen-sm-min) {
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .navbar-brand {
    background: url("../img/nav-logo.png") left center no-repeat;
    display: inline-block;
    min-width: 5.5em;
  }
  .header-bar {
    background-color: #415b6f;
    font-family: 'Fira Sans', sans-serif;
    color: #9eb3c5;
  }
  //top label
  .bar-wrapper {
    position: relative;
    padding: 1em 0;
    text-align: center;
  }
  .top-social-group {
    position: absolute;
    right: 3em;
    top: .5em;
  }
  .top-contacts {
    span {
      display: inline-block;
      padding: 0 1.5em;
      position: relative;
      &::before {
        content: "";
        width: 15px;
        height: 15px;
        position: absolute;
        left: 0;
        top: 2px;
        background-image: url("../img/icons/contact-top.png");
      }
      &.top-address::before {
        background: url("../img/icons/contact-top.png") no-repeat 3px 0;
      }
      &.top-phone::before {
        background: url("../img/icons/contact-top.png") no-repeat 0px -21px
      }
      &.top-mail::before {
        background: url("../img/icons/contact-top.png") no-repeat 0 -43px;
      }
      @media screen and (max-width: $screen-sm-min) {
        margin-bottom: .3em;
        &::before {
          left: -3px;
          top: 0;
        }
      }
    }
  }
  //top social icons group
  .top-social-group {
    li {
      padding: 0 2px 0 0;
    }
  }
}