.photo-breadcrumb {
  position: absolute;
  right: 0;
  margin: 0;
  top: 1em;
  background-color: transparent;
}

.photo-page {
  .photo-item,
  .nav-photo li{
    width: 24.9%;
    font-size: $font-size-base;
    margin-right: 1px;
    vertical-align: top;
    margin-bottom: 1px;
  }
  .photo-item {
    background-color: lightgray;
    float: none;
    position: relative;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }
  .nav-photo {
    margin-top: 2em;
    margin-bottom: 4em;
    li {
      .btn {
        width: 100%;
        padding: .8em 0;
        position: relative;
      }
    }
  }
  .photo-pane {
    padding: 0;
    background-color: transparent;
    ul{
      padding: 0;
    }
  }

  /* SINGLE COL */
  @media (max-width: 600px) {
    .project-item {
      width: 100%;
      margin-bottom: 5%;
    }
  }

  .photo-item {
    -webkit-box-shadow: 0 0 0 1px $gray-lighter;
    -moz-box-shadow: 0 0 0 1px $gray-lighter;
    box-shadow: 0 0 0 1px $gray-lighter;
    .spacer {
      padding-top: 66.5%;
    }
  }

}