//BLOCK-4
.video-wrapper {
  /*  @media only screen and(max-width: $screen-md-min) {
      .col-xs-3 {
        padding-left: 0;
      }
    }*/

  .video-start {
    margin-bottom: .5em;
    float: none;
    position: relative;
    max-width: 185px;
    cursor: pointer;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:nth-last-of-type(1){
      margin-bottom: 0;
    }
  }
  .video-content-wrapper{
    width: 79%;
    margin-left: 2%;
    vertical-align: top;
    iframe{
      width: 100%;
      border: 0;
    }
  }

  .nav-video-wrapper{
    width: 18%;
  }
  .nav-video{
    li{
      display: block;
    }
  }

  @media only screen and(max-width: $screen-md-min) {
    font-size: 9px;
  }
}
