# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files



addons
.sass-cache
node_modules
/css
.idea

img-collector
bower_components